// Specific CSS for your home-page
.home-container {
  background-image: image-url("background.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.svg-home-page {
  height: 100vh;
  position: absolute;
  top: 0px;
}
 .home-container-2 {
  background-image: image-url("svg_home_page.svg");
  background-size: cover;
  height: 100vh;
  width: 90%;
  padding-left: 77px;
}

.navbar-home {
 padding-top: 20px;
}

.home-title {
  color: white;
  padding-top: 80px;
  h1 {
    font-size: 45px;
    font-weight: 750;
  }
  h3 {
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.6;
  }
}

#CTA-homepage {
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  font-family: roboto;
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;

}

.button-homepage {
  margin-top: 45px;
}
