.client_address {
  margin-bottom: 0;
}

.client-card-image {
  position: sticky;
  top: 20px;
  margin: 20px;
  display: flex;
  justify-content: align-items;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 400px;
  background-size: contain;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.select2-container--default .select2-selection--single {
  height: 50px !important;
 padding: 10px 3px;
}

#new_client_intervention_id {
  color: #444 !important;
}

#new_client_urgency {
  // size: 30px;
  // margin: 20px 4px 30px;
  display: none;
}

#new_client_urgency + label {
  background-image: image-url("square-regular.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 35px;

}

#new_client_urgency:checked + label {
  background-image: image-url("check-square-regular.svg");

}

.form-check-label {
  font-weight: 500 !important;
  color: white;
  margin: 0 auto;
}

.new_client input {
  box-shadow: none !important;
  color: #444;
}

// .new_client_urgency input {
//   -webkit-appearance: none;
// }

.form-check {
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: red;
  text-transform: uppercase;
  border-radius: 2px;
}
