<%= render layout: "layouts/main_layout", locals: {main_title: "Dispatch Board", main_date:'print date'} do %>
  <div class="main-container">
    <div class="row">
      <div class="col-xs-12">
        <div id='calendar'>
        </div>
      </div>
    </div>
  </div>
<% end %>

