<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> Dispatch Board </h1>
    </div>
    <div class="col-xs-12">
      <div id='calendar' data-hours="<%= @users_hours.to_json %>"></div>
    </div>
    <div class="col-xs-12">
      <br>
      <br>
    </div>
  </div>
</div>

