<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> Sweet Alert test </h1>
    </div>
    <div class="col-xs-12">
      <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
    </div>
  </div>
</div>




