<div class="footer">
  <div class="footer-links">
    <a href="https://www.vanityfair.fr/pouvoir/politique/diaporama/petits-et-grands-secrets-des-garden-parties-de-l-elysee/35699"><i class="fab fa-github"></i></a>
    <a href="https://www.hermes.com/us/en/product/garden-party-30-bag-H069574CKT5/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.planfor.fr/jardin-plantes,plantes-de-jardin.html"><i class="fab fa-facebook"></i></a>
    <a href="https://www.plantezcheznous.com/pret-jardin/?pt=pret-jardin&b=52.71552915653061,12.307011515624978,40.02498040259603,-6.385718953125021,&z=5&c=(46.742347501657555,%202.9606462812499785)&pg=1"><i class="fab fa-twitter"></i></a>
    <a href="https://en.wikipedia.org/wiki/Erythroxylum_coca"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    ManageMyPlumbers is made with <i class="fas fa-heart"></i> by Astrid, Jeanne, Denis and Amaury
  </div>
</div>
