<div class="home-container">
  <div class="home-container-2">
    <div class="navbar-home">
    <%= image_tag('plumber.svg', height: 70, class: "truck_to_go") %>
    </div>
    <div class="home-title">
      <h1>Manage my plumbers</h1>
      <h3>The revolutionnary plumber app.
        <br>
      Dispatching your plumbers has never been so easy !</h3>
      <div class="button-homepage">
        <%= link_to "START NOW", bookings_path, class: "call-to-action", id:"CTA-homepage" %>
      </div>
    </div>
  </div>
</div>
