.fc-button {
  color: white !important;
  // padding: 10px 15px !important;
  border-radius: 4px !important;
  // font-weight: bold !important;
  background-color: rgb(27, 153, 139) !important;
  transition: background 0.3s ease !important;
  opacity:0.7;
}
.fc-button:hover {
  opacity: 1 !important;;
  background: rgb(27, 153, 139) !important;;
  text-decoration: none !important;;
  color: white !important;;
}

/* Build your own button classes ! */

.call-to-action {
  background-color: #0FFF95;
  color: #1B998B;
  text-decoration: none !important;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: #0FFF95;
  font-family: nunito;
  :focus {
    text-decoration: none !important;
    outline: none !important;
  }
}

a:hover {
  color: #1B998B;
}
