// .fc-button {
//   color: white !important;
//   // padding: 10px 15px !important;
//   border-radius: 4px !important;
//   // font-weight: bold !important;
//   background-color: rgb(27, 153, 139) !important;
//   transition: background 0.3s ease !important;
//   opacity:0.7;
// }
// .fc-button:hover {
//   opacity: 1 !important;;
//   background: rgb(27, 153, 139) !important;;
//   text-decoration: none !important;;
//   color: white !important;;
// }

/* Build your own button classes ! */

.call-to-action {
  background-color: #0FFF95;
  color: #1B998B;
  text-decoration: none !important;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: #0FFF95;
  font-family: nunito;
  &:focus {
    text-decoration: none !important;
    outline: none !important;
  }
}


.call-to-action.matchbtn {
  display: flex;
  justify-content: align-items;
  grid-template-columns: 1fr 1fr;
}

.call-to-action:hover {
  color: white !important;
}

.call-to-action.reversebtn {
  color: #1B998B;
  background-color: white;
  display: flex;
  justify-content: align-items;
  grid-template-columns: 1fr 1fr;
}

.call-to-action.reversebtn:hover {
  color: #0FFF95 !important;
}

// a:hover {
//   color: #1B998B;
// }

a:hover {
  color: #1B998B;
}


.btn-success {
  background-color: #0FFF95 !important;
  border-radius: 10px;
  border: 1px solid #0FFF95;
}
// .btn-success:hover {
//   font-size: 20px;
// }
.specialbutton {
  padding-bottom: 4px;
}

.btn-manual {
  background-color: white;
  color: #0FFF95;
  border-color: #0FFF95;
  border: 1px solid #0FFF95;
  padding: 5px;
  border-radius: 10px;
  height: 39px;
  padding-top: 3px;
}
// .btn-manual:hover {
//   font-size: 20px;
// }

.form-group {
  border-radius: 10px;
}

.interventionselect {
  color: grey;
}


//############# swal Buttons ############

.swal-button {
  background-color: #0FFF95;
  color: #1B998B;
  text-decoration: none !important;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: #0FFF95;
  font-family: nunito;
  &:focus {
    text-decoration: none !important;
    outline: none !important;
  }
  // &:hover {
  //   background-color: #0FFF95;
  //   color: #1B998B;
  //   text-decoration: none !important;
  //   outline: none !important;
  // }
}
.swal-button:not([disabled]):hover {
  background-color: #0FFF95;
  color: white;
}

.swal-button--confirm {
  background-color: white;
  color: #1B998B;
  border-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  height: 39px;
  width: 8px;
  width: 90px;
  padding-top: 3px;

}
.swal-button--confirm:not([disabled]):hover {
  background-color: white;
  color: #0FFF95;
}

.swal-button--cancel {
  background-color: white;
  color: #1B998B;
  border-color: #0FFF95;
  border: 1px solid #0FFF95;
  padding: 5px;
  border-radius: 10px;
  height: 39px;
  width: 90px;
  padding-top: 3px;
}
.swal-button--cancel:not([disabled]):hover {
  background-color: white;
  color: #0FFF95;
}

.swal-button--danger {
  background: #D63230;
}
.swal-button--danger:not([disabled]):hover {
  background-color: #D63230;
  color: white;
}

#second_form {
  margin-top: 15px;
  position: absolute;
  left: 153px;
}
