.client-info {
  border-radius: 6px;
  background-color: #ededed;
  min-height:400px;
  max-width: 527px;
  margin-right:30px;
  padding-top: 5px;
  padding-left: 25px;
  margin-left: 30px;
  margin-top:10px;
  margin-bottom:10px;
}
.matchresults {
  background-color: #ededed;
  margin-bottom: 10px;
  margin-top:10px;
  max-width: 527px;
  position: relative;
  min-height:195px;
  border-radius: 6px;
  opacity:0.9;
  transition: 0.7s ease;
  margin-right:30px;
}

.matchresults:hover{
  opacity:1;
}

.matchresults h2 {
  font-size: 24px;
  font-weight: bolder;
}
.matchresults p {
  font-size: 16px;
  font-weight: lighter;
}
.client-info h3 {
  font-size: 24px;
  font-weight: normal;
}
.client-info p {
  font-size: 16px;
  font-weight: lighter;
  color: #716f6f
}

.top-right-element {
  position: absolute;
  top:30px;
  right:30px;
}
.top-right-element p {
  padding-top:7px;
}

// .matchbutton {
//   position: absolute;
//   bottom:20px;
//   right: 400px;
// }
// rgb(27, 153, 139)
// #1B998B
// #0FFF95


.matchbutton {
  font-color: darkgrey;
}

.matchbutton a {
  position: absolute;
  bottom:20px;
  right:160px;
}

.hel {
  display:flex;
}
