.svg-background {
  width: 100%;
  position: absolute;
  top: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-left: 0px !important;
  padding-top: 20px;
}


  .navbar-right {
    a {
    margin-left: 30px;
  }
  img {
    margin-left: 30px;
  }
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: pink;
  width : 48%;
  z-index: 6;
  position: relative;
  // animation: slidein 5s ease-in 1s infinite running;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.specific_link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: nunito;
  font-size: 1.1em;
  // transition: all .2s ease-in-out;
}

.specific_link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: nunito;
  font-size: 1.1em;
  // transform: scale(1.08);
}
