<svg class= "svg-background", viewBox="0 0 1440 387" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 0H1440V286.899C1440 286.899 997.269 361.387 713 379.234C434.67 396.708 0 379.234 0 379.234V0Z" fill="#1B998B"/>
</svg>

<div class="main-titles-cont">
  <h1 class="main-page-title"><%= main_title %></h1>
  <h5 class="index-date"></h5>
</div>

<div class="container white">
  <%= yield %>
</div>
