<svg class= "svg-background", viewBox="0 0 1440 303" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1440V303C1440 303 1001 303 716 303C437.582 303 0 303 0 303V0Z" fill="#1B998B"/>
</svg>


<div class="container main-titles-container">
  <h1 class="main-page-title"><%= main_title %></h1>
  <%if main_date.present? %>
    <div class="main-page-buttons">
      <div class="button-left"><i class="fas fa-chevron-left"></i></div>
      <div class="date-mainlayout"></div>
      <div class="button-right"><i class="fas fa-chevron-right"></i></div>
    </div>
    <% else %>
    <div class="main-page-buttons"></div>
  <% end %>
</div>

<div class="container main-container">
  <%= yield %>
</div>
<%#= render 'shared/footer' %>
